.container {
    max-width: 800px;
}

.img-fluid {
    border-radius: 10px;
}

.image-info {
    background-color: #f8f9fa;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

    .image-info h5 {
        font-size: 1.5rem;
        margin-bottom: 10px;
    }

    .image-info p {
        font-size: 1rem;
        color: #555;
        margin-bottom: 5px;
    }

.btn {
    transition: background-color 0.3s ease;
}

    .btn:hover {
        background-color: #fb6f92;
    }
